<div class="card m-3" style="width: 21rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Description</p>
        <a href="#" class="btn btn-primary">Continue to blog</a>
    </div>
</div>
