@page
@model FormHandling.Pages.Blogs.IndexModel
@{
}

<h1>Blogs here</h1>

<div class="row">

@foreach (var book in Model.Blogs)
{
        @*@Html.Partial("_BlogCard", book);*@
        @*Html.RenderPartial("_BlogCard", book);*@
        <partial name="_BlogCard" model="@book"/>
}
</div>