
<div>
    <div class="card m-3" style="width: 21rem;">
        <div class="card-body">
            <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
            <p class="card-text">@Model.Email</p>
        </div>
    </div>
</div>
